HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Created by https://www.toptal.com/developers/gitignore/api/java,gradle,intellij
# Edit at https://www.toptal.com/developers/gitignore?templates=java,gradle,intellij

### Caching ###
.gradle/
build/
!build/resources/

### Gradle ###
.gradle
/build/
!/build/generated-snippets/
!/gradle/wrapper/gradle-wrapper.jar

### IntelliJ ###
# Covers IntelliJ IDEA's folder-based project format
.idea/
*.iws
*.iml
*.ipr

# Mac
.DS_Store

# Sensitive files
api_key.properties

# Log files
*.log

# Compiled output
/out/